{% extends "base.html" %} {% block title %}Mug Customization{% endblock %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--Sign up form-->
<!--When this form is submitted, send a post request to the backend-->
<form method ="POST">
    <h3 align="center">Mug Customization</h3>
    <div class="form-group">
        <label for="select-temperature">Temperature</label>
        <input 
            type="number" 
            class="form-control"
            id="select-temperature" 
            name="select-temperature"
            placeholder="Select temperature"
        />
    </div>
    <div class="form-group">
        <label for="led-color">LED color (RGB)</label>
        <input 
            type="color" 
            class="form-control"
            id="led-color" 
            name="led-color"
            placeholder="Enter LED color in RGB format"
        />
    </div>
    <!--
    <ul class = "list-group list-group-flush" id="settings">
        {% for setting in user.settings%}
        <li class = "list-group-item">{{setting.temperature, setting.ledcolor}}</li>
        {% endfor %}
    </ul>
    -->
    <br />
    <button type ="submit" class = "btn btn-primary">Confirm</button>
</form>
<br />

<h4> {{ curenTemp }}</h4>
<body>
    <ul class="temp"></ul>
</body>
<script>
function fetch() {
    $.ajax({
        url: 'http://184.148.145.47:5000/users/',
        type: "GET",
        dataType: "JSON",
        data:JSON.stringify({}),
        success: function(data) {
            $('#temp').append("<li>" + JSON.stringify(data) + "<li>")
        },
         complete: function() {
       // Schedule the next request when the current one's complete
       setInterval(sendRequest, 5000); // The interval set to 5 seconds
     }
    })
}
</script>
{% endblock %}