<!--extend the base template-->
{% extends "base.html" %} {% block title %}USERS{% endblock %}
{% block content %}
    <div id="selected"></div>
    <body>
    {% for i in range(5) %}
    <button id="button{{i}}" type ="submit" class = "btn btn-primary" onClick="buttons(this.id)">
        <button type="button" id= "{{i}}" class = "close" onClick = "hello(this.id)">
            <span aria-hidden="true">&times;</span>
        </button>
    </button><br>
    {% endfor %}
    <div id="users">
    </body>
    <script>
        function speak(alerted){
            alert(alerted)
        }
    </script>
<!--
    {% for i in range(5) %}
    <button id="button4" type ="submit" class = "btn btn-primary" onClick="buttons(this.id)"></button><br>
    {% endfor %}
-->
<!--
  {% for user in users %}
      <div>
          
          <button style = border-radius: 70% type ="submit" class = "btn btn-primary">{{ user.first_name }}</button>  
      </div>
  {% endfor %}
-->
  </div><br>

  <script type="text/javascript">
    //const users = $users
    
    function set() {
        //const mon = data.user
        var users = {{ users|tojson|safe }}//.replace('&#39;', '')
        var length = users.length
        console.log(users)
        console.log(length)
        //users = {{users}}.replace('&#39;'', '');
        //console.log(users)
        for (i = 0; i < 5; i++) {
            if (i<length) {
                document.getElementById(`button${i}`).innerHTML = users[i]
            }
            else{
                document.getElementById(`button${i}`).innerHTML = "Create User"
            }

        }
        //alert(data);
        console.log('here')
    }

    set();
    
    

</script>

<script type="text/javascript">
      
            function hello(clicked) {
                console.log("yessir")
                deletes = document.getElementById(clicked).innerHTML;
                index = clicked;
                console.log(index)
                user = document.getElementById(`button${index}`).innerHTML;
                //console.log(user)
                if (name === 'Create User') {
                    //display cannot delete user
                    alert("cannot delete ")
                }
                else{
                    //alert(index)
                    console.log("can delete")
                    //user = User.query.filter_by(first_name=user).first()
                    //var emails = {{ emails|tojson|safe }}
                    //var users = {{ users|tojson|safe }}
                    
                    //email = emails[index]
                    //user = users[index]

                    console.log(user)
                    //alert('delete')
                    deleted(user)
                    
                    //window.location.href = "/login" +'#' + email;
                }
            }    

            
        </script> 
        

<script>

  function deleted(username){
    //send a request to backend to delete note
                fetch("/delete-user", {
                    method : "POST",
                    body : JSON.stringify(username)//{ username: username }),
                }).then((_res) => {
                    //window.location.href = '/delete-user';
                    console.log("here")
                });
            }     
</script> 




<script>
      
            function buttons(clicked) {
                name = document.getElementById(clicked).innerHTML;
                if (name === 'Create User') {
                    window.location.href = "/sign-up" 
                }
                else{
                    index = clicked.slice(-1)
                    console.log(index)
                    //user = User.query.filter_by(first_name=user).first()
                    var emails = {{ emails|tojson|safe }}
                    
                    email = emails[index]
                    console.log(email)
                    window.location.href = "/login" +'#' + email;
                }
            }         
        </script> 

{% endblock %}